<!-- -*- mode: XML -*- args="1" -->

<launch>


<arg name="pcap_path" value="/home/howstar/pclData/32e.pcap" />


<!-- -->
<node pkg="velo_process" type="velo_process_node" name="velo_process_node" args="-pcapFile $(arg pcap_path)" output="screen" />


<node name="rviz" pkg="rviz" type="rviz" args="-d $(find velo_process)/cluster.rviz" required="true" />


</launch>
